<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pay.paydata.dao.MessageInfoDao">

	<select id="get" resultType="com.pay.paydata.domain.MessageInfoDO">
		select `id`,`content`,`status`,`name`,`create_time`,`update_time`,`type` from message_info where id = #{value}
	</select>

	<select id="list" resultType="com.pay.paydata.domain.MessageInfoDO">
		select `id`,`content`,`status`,`name`,`create_time` createTime,`update_time` updateTime,`type` from message_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from message_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.pay.paydata.domain.MessageInfoDO" useGeneratedKeys="true" keyProperty="id">
		insert into message_info
		(
			`content`, 
			`status`, 
			`name`, 
			`create_time`, 
			`update_time`, 
			`type`
		)
		values
		(
			#{content}, 
			#{status}, 
			#{name}, 
			#{createTime}, 
			#{updateTime}, 
			#{type}
		)
	</insert>
	 
	<update id="update" parameterType="com.pay.paydata.domain.MessageInfoDO">
		update message_info 
		<set>
			<if test="content != null">`content` = #{content}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="type != null">`type` = #{type}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from message_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from message_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>